@import "tailwindcss";

body {
    @apply bg-gray-50 text-gray-900 font-sans;
}

button {
    @apply transition focus:outline-none focus:ring-2 focus:ring-blue-400;
}

input,
select,
textarea {
    @apply border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring-2 focus:ring-blue-400 mb-1;
}

form {
    @apply space-y-4;
}

::-webkit-scrollbar {
    width: 8px;
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 4px;
}
